.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
}

.u-section-1 .u-image-1 {
  min-height: 267px;
  background-image: url("images/20251228_160306.jpg");
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  min-height: 133px;
  background-image: url("images/20251227_110140.jpg");
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  min-height: 133px;
  background-image: url("images/20251221_1821051.jpg");
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-4 {
  min-height: 133px;
  filter: none;
  background-image: url("images/20251230_151824.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-4 {
  padding: 16px 30px;
}

.u-section-1 .u-image-5 {
  min-height: 133px;
  background-image: url("images/20251228_085441.jpg");
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-image-6 {
  min-height: 267px;
  background-image: url("images/20251222_123427.jpg");
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-1 .u-image-1 {
    min-height: 220px;
  }

  .u-section-1 .u-image-2 {
    min-height: 110px;
  }

  .u-section-1 .u-image-3 {
    min-height: 110px;
  }

  .u-section-1 .u-image-4 {
    min-height: 110px;
  }

  .u-section-1 .u-image-5 {
    min-height: 110px;
  }

  .u-section-1 .u-image-6 {
    min-height: 220px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1012px;
  }

  .u-section-1 .u-image-1 {
    min-height: 337px;
  }

  .u-section-1 .u-image-2 {
    min-height: 169px;
  }

  .u-section-1 .u-image-3 {
    min-height: 169px;
  }

  .u-section-1 .u-image-4 {
    min-height: 169px;
  }

  .u-section-1 .u-image-5 {
    min-height: 169px;
  }

  .u-section-1 .u-image-6 {
    min-height: 337px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1522px;
  }

  .u-section-1 .u-image-1 {
    min-height: 253px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    min-height: 254px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    min-height: 254px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    min-height: 254px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-5 {
    min-height: 254px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-6 {
    min-height: 253px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 958px;
  }

  .u-section-1 .u-image-1 {
    min-height: 159px;
  }

  .u-section-1 .u-image-2 {
    min-height: 160px;
  }

  .u-section-1 .u-image-3 {
    min-height: 160px;
  }

  .u-section-1 .u-image-4 {
    min-height: 160px;
  }

  .u-section-1 .u-image-5 {
    min-height: 160px;
  }

  .u-section-1 .u-image-6 {
    min-height: 159px;
  }
}